h1{
    color:blue;

}
body{
    width:100vw;
    height:100vh;
    background-image: url(img/BackG.png);
    background-size: cover;
}

#rolledN img{
    position:relative;
    z-index: -1;
    margin:auto;
    transform:rotate(45deg);
    
}
.other{
    position:absolute;
    color:aliceblue;
}
#rolledN{
    width:inherit;
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
#rolledN p{
    width:20vw;
    height:fit-content;
    top: 50%;
    
    transform: translateX(116%);
    /* position:absolute;
    right:2rem; */
}
#title{
    width:720px;
    height:720px;
    top: 0;
    left: 25%;
    font-size: 5rem;
    
}
#rolledN h3{
    bottom: 25%;;
    left: 25%;
    font-size: 3rem;
    
}
#rolledN h4{
    bottom: 35%;
    left: 35%;
    transform: translateX(-50%);
    margin-left: 30px;
    font-size: 2rem;
}
.inputs{
    width: 15vw;
    height: 5vh;
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}
.inputs input{
    width: 2rem;
    height: 1rem;
}

